<!DOCTYPE html>
<html lang="en-us">

	<head>

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>URL Shorty :: Edit Short URL</title>

        <link type="text/css" rel="stylesheet" href="static/css/common.css">
        <link type="text/css" rel="stylesheet" href="static/css/responsive.css">
        <!-- Font API !-->
        <link href='http://fonts.googleapis.com/css?family=Patua+One|Merriweather+Sans:700italic,400' rel='stylesheet' type='text/css'>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>        
        <script type="text/javascript" rel="js" src="static/js/edit_script.js"></script>
        <script type="text/javascript" src="static/js/Twitter/twitterAPI.js"></script>
        <script type="text/javascript" src="static/js/Twitter/recommendationScript.js"></script>
        <script type="text/javascript" src="static/js/Twitter/rankFunction.js"></script>
        <script type="text/javascript" src="static/js/twitter_example.js"></script>

    </head>
    
    <body>
        <div class="container">

            <div class="header">
                <a class="headerTitle" href="home">URL Shorty</a>
                <div class="sessions">
                    <a class="headerUser" href="home">{{ username }}</a>
                    <a class="headerLogout" href="logout">Logout</a>
                </div>
            </div>

            <div class="content">

            <div class="wrapper">

                <div class="content-instructions">
                    <span class="contentTitle2">Edit Short URL</span>
                    <ol>
                        <li>Update the long URL if desired.</li>
                        <li>Update or keep the same short URL.
                        <div class="or">&mdash;OR&mdash;</div>
                        Click "RANDOM" and we'll make up a random short URL for you.<br>
                        <div class="or">&mdash;OR&mdash;</div>
                        Click "SUGGESTIONS" and we'll suggest short URLs from Twitter for you to choose from.<br></li>
                        <li>Click "GO" and voila&mdash;your updated short URL will be fully functional!</li>
                    </ol>
                </div>

                <div class="content-form">
                    <form id="shorty-form">
                        <div>
                            <label for="ORIGINAL_URL">Long URL:</label>
                            <input type="text" name="ORIGINAL_URL"id="ORIGINAL_URL" class="form_entry"  value= {{ longURL }}>
                        </div>
                        <div>
                            <label for="NEW_URL">Short URL:</label>
                            <input type="text" name="NEW_URL" id="NEW_URL" class="form_entry" value={{ shortURL }}>
                        </div>
                        <div class="buttonGroup">
                            <input type="submit" value="RANDOM" id="RANDOM"  class="button"/>
                            <input type="submit" value="SUGGESTIONS" id="SUGGESTIONS"  class="button"/>
                            <input type="submit" value="GO" id="GO"  class="button" disabled/>
                        </div>
                    </form> 

                    <!-- if validation error, replace content of error message and change display to show -->
                    <div class="errorMessage">This is what an error looks like.</div>
                </div>

                <div class="content-single">
                <div class="suggestionBox">
                    <div>Twitter Suggestions:</div>
                </div>

                <div id="generated">
                    Your long URL has been shortened to 
                    <span id ="NEW_URL_ENTRY">short url</span>.
                    <div>
                        <a href="home" class="postShort">RETURN TO HOME</a>
                        <a href="#" id="changeURL" class="postShort">CHANGE THIS SHORT URL</a>
                    </div>
                </div>
                </div>
            </div>

        </div>

        <div class="footer">
            <span class="footerText">Brought to you by Chris, Cameron, Tiffany, &amp; Faith</span>
        </div>

        </div>
    </body>

</html>