@media screen and (max-width: 768px)  /* ipad portrait */
{
    .headerTagline {
        display: none;
    }

    .sessions {
        display: block;
        float: none;
        padding-left: 45px;
        text-align: left;
    }

    .content-text {
        width: 300px;
        margin: 10px;
    }

    .content-form {
        width: 300px;
        margin: 10px;
    }

    .content-instructions {
        width: 300px;
        margin: 10px;
    }

    .suggestionBox {
        width: 90%
    }

    .add {
        font-size: 16pt;
    }

    th {
        font-size: 16pt;
    }

    td.iconButtons {
        width: 85px;
    }

    td.shortLink {
        width: 185px;
    }

    .wrapper {
        width: 100%;
    }

    .footerText {
        font-size: 11pt;
    }

    .errorCode {
        font-size: 80pt;
    }

    .errorCodeMessage {
        font-size: 30pt;
    }
}

@media screen and (max-width: 640px)
{
    .wrapper {
        width: 320px;
    }
}

@media screen and (max-width: 480px)  /* iphone landscape */
{
    .add {
        font-size: 14pt;
    }

    th {
        font-size: 14pt;
    }

    td.shortLink {
        width: auto;
    }

    .longLink {
        display: none;
    }

    .footerText {
        font-size: 9pt;
    }

    .errorCode {
        font-size: 50pt;
    }

    .errorCodeMessage {
        font-size: 20pt;
    }
}