<!DOCTYPE html>
<html lang="en-us">
        
    <head>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Error</title>

        <link type="text/css" rel="stylesheet" href="static/css/common.css">
        <link type="text/css" rel="stylesheet" href="static/css/responsive.css">
        <!-- Font API !-->
        <link href='http://fonts.googleapis.com/css?family=Patua+One|Merriweather+Sans:700italic,400' rel='stylesheet' type='text/css'>
        
    </head>
        
    <body>
        <div class="container">

        <div class="header">
            <a class="headerTitle" href="home">URL Shorty</a>
        </div>

        <div class="content">

            <div class="content-single">
                <span class="errorCode">404 Error</span>
                <span class="errorCodeMessage">Page Not Found</span>
                <img src="static/img/missing.png" alt="the team">
            </div>

        </div>

        <div class="footer">
            <span class="footerText">Brought to you by Chris, Cameron, Tiffany, &amp; Faith</span>
        </div>

        </div>
    </body>

</html> 